<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>新闻首页</string>
		<key>urlString</key>
		<string>/nc/article/headline/T1348647853363/0-20.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>科技</string>
		<key>urlString</key>
		<string>/nc/article/list/T1348649580692/0-20.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>手机</string>
		<key>urlString</key>
		<string>/nc/article/list/T1348649654285/0-20.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>移动互联</string>
		<key>urlString</key>
		<string>/nc/article/list/T1351233117091/0-20.html</string>
	</dict>
</array>
</plist>
